<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated traithierarchy -->
      <package
            uri="forsyde.io.trait.hierarchy"
            class="forsyde.io.trait.hierarchy.impl.HierarchyPackageImpl"
            genModel="model/traithierarchy.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated traithierarchy -->
      <parser
            type="hierarchy"
            class="forsyde.io.trait.hierarchy.util.HierarchyResourceFactoryImpl"/>
   </extension>

</plugin>
