[submodule "java-io"]
	path = java-io
	url = git@gitr.sys.kth.se:jordao/forsyde-java-model.git
[submodule "python-io"]
	path = python-io
	url = git@gitr.sys.kth.se:jordao/forsyde-python-model.git
[submodule "haskell-io"]
	path = haskell-io
	url = git@gitr.sys.kth.se:jordao/forsyde-io-haskell.git
