<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated systemgraphmeta -->
      <package
            uri="forsyde.io.system.graph"
            class="forsyde.io.system.graph.GraphPackage"
            genModel="model/systemgraph.xcore"/>
   </extension>

</plugin>
